*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    --ff-primary: 'Montserrat', sans-serif;

    --fw-reg: 400;
    --fw-bold:700;
    --fw-extra-bold: 900;

    --clr-light: #fff;
    --clr-light-background: #ECEEEE;
    --clr-dark: #000;
    --clr-blue: #002366;
    --clr-orange: #ff7f50;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.75rem;
    --fs-body: 1rem;

    --bs: 8px 8px #fdc500;
    --bs-soft: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    --radius: 0.25rem;
    --radius-larger: 0.5em;

    --transition: all 0.3s linear;

}
@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 2.75rem;
        --fs-body: 1.125rem;
    }
}
/****************************General Styles*******************************/
html {
    scroll-behavior: smooth;
}
body {
    background: var(--clr-light-background);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}
img {
    max-width: 100%;
}
strong {
    font-weight: var(--fw-bold);
}
.btn {
    font-size: var(--fs-body);
    padding: 1rem 4rem;
    background-color: var(--clr-blue);
    border: none;
    color: var(--clr-light);
    transition: var(--transition);

}
/**************************** Typography *******************************/

h1,
h2,
h3 {
    line-height: 1.6;
    margin: 0;
}
h1 {
    font-size: var(--fs-h1);
}
h2 {
    font-size: var(--fs-h2);
}
h3 {
    font-size: var(--fs-h3);
}

